---
---

@import "{{ site.theme }}";

body{
  background:#e0e0e0
}

nav ul a{
  color:#3399cc
}

h1,h2,h3,h4,h5,h6{
  margin:0 0 1px
}

pre{
  background:#e0e0e0
}

code {  
  background:#e0e0e0;
  color:#686868;
  text-shadow: 0px 1px 0px #b0b0b0  
}

